@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --color--primario-900: #2B2B2B;
    --color--primario-850: #6A6A6A;
    --color--primario-800: #360C72;
    --color--primario-700: #652BDF;
    --color--primario-200: #BEBEBE;
    --color--primario-100: #FCFBFF;
    --color--primario-50: #FFFFFF;


    --color--primario-700: #652BDF;
    --color--secundario--200: #E4D7FF;
}

/* Normalización */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

body {
    color: #2B2B2B;
}


/* Normalización de títulos */
h2 {

    letter-spacing: -0.045em;
    font-size: 40px;
    line-height: 2.625rem;
    font-weight: 700;

}

.main--heading__titles {
    text-align: center;
    margin: 8px 0;

}

.cmp--container__separator {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cmp--separator {
    display: flex;
    justify-content: center;
    width: 1022px;
    height: 64px;

}


.cmp--separator__secondary{

    height: 32px;

}

.cmp--separator__tertiary {
    height: 48px;
}







.button--base {

    padding: 6px 24px;
    margin: 0px 4px;
    border-radius: 50px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    display: inline-flex;
    transition: all .4s ease-in-out 0s;
}






.btn--redirect__primary {
    background-color: #FFFFFF;
    color: #652BDF;
    border: 1px solid #652BDF;
    width: 160px;
    height: 41px;
}

.btn--redirect__secondary {

    background-color: #652BDF;
    color: #FFFFFF;
    width: 160px;
    height: 41px;
}

.btn--feature__card{
    width: 192px;
    height: 48px;

}

.btn--feature__card:hover {
    background-color: #360C72;
    color: #FFFFFF;
    text-decoration: none;

}

ul,
ol {
    list-style: none;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1022px;
    min-height: 82px;
    margin: 0px 212px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
}



header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 82px;
}


.major--nave_-logo {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.header--nav__list {

    display: flex;
    margin-left: 20px;
    white-space: nowrap
}


.nav--list__item {

    margin: 0 4px;
    min-height: 41px;
    white-space: nowrap;

}


.nav--list__item:hover {
    background: var(--color--secundario--200);
    color: var(--color--primario-800);
    text-decoration: none;


}



.nav--button__redirect:hover {
    background: var(--color--secundario--200);
    color: var(--color--primario-800);
    text-decoration: none;
    border: 1px solid #652BDF;

    }



.header--nav__divider {
    background-color: #bebebe;
    width: 1px;
    height: 24px;

}



.nav-header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 338px;
    height: 41px;
    gap: 2px;
    margin: 0px 0px 0px 31.2812px;
}

.cmp--heading__titles {

    width: 1219px;
    height: 44px;

}


.benefit--card__container{

    max-width: 1022px;
    height: 260px;
    display: flex;
    justify-content: space-evenly;
}

.section--benefit__card {
    display: flex;

    justify-content: center;


}


.segment--benefit__card {
    margin-top: 12px 0px 0px;
    background: #fff;
    border-radius: 16px;
    width: 100%;
    min-height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px;
    grid-gap: 16px;
    gap: 16px;
    flex-grow: 1;
}

.card--icon__content {
    width: 62px;
    height: 62px;

    grid-gap: 16px;
    gap: 16px;
    padding: 19px;
}


.segment--card__title{



    width: 268.81px;
    height: 52px;


    margin-top: -5px;
    font-weight: 600;
    line-height: 1.625rem;
    font-size: 24px;

    letter-spacing: -0.039em;
}

.segment--card__text {
    font-size: 18px;
    color: #6A6A6A;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section--promo__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1022px;
    height: 134px;
    background-color: #360C72;
    border-radius: 32px;
}

.promobanner__container {
    display: flex;

    width: 974px;
    height: 134px;
    margin: 0 24px;
    padding: 32px 40px;
    gap: 32px;

}

.promobanner--text__area {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 670px;
    height: 70px;
}

.heading__title--promobanner {
    font-weight: 600;
    font-size: 30px;
    line-height: 2rem;
    margin: 0;
    color: #FFFFFF;

}

.text--promobanner {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.375rem;
    color: #FFFFFF
}

.button--promobanner__redirect {
    display: flex;
    align-items: center;
    width: 192px;
    height: 70px;

}

.button--promobanner__content{
    background-color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    color: #652BDF;
    /* Letra */
    align-items: center;
    padding: 10px 32px;
    min-width: 192px;


    line-height: 1.5rem;
    font-weight: 700;
    transition: 100ms;
    transition: all .4s ease-in-out 0s;
}



.button--promobanner__content:hover {
    background-color: black;
    cursor: pointer;
    color: #E4D7FF;
    text-decoration: none;
}

.section--feature__card {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.feature--card__container {
    display: flex;
    justify-content: center;
    width: 1022px;
    height: 367px;



}

.feature--card__text--area {
    display: flex;
    padding: 50px 22px;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;




}



.feature--card__title {
    font-size: 24px;

    color: #2B2B2B;
}

.feature--card__text {
    font-size: 18px;
    color: #2B2B2B;


}

.button--feature__card {
    gap: 50px;
}

.feature--card__img{
 padding: 21px 18px;
}


.img--feature__card--dimensions {
    height: 328px;
    width: 475px;


}

.footer--nav__links {
    width: 1022px;
    height: 419px;
    padding: 0px 0px 32px;


    margin: 0px 287px;
    display: flex;

    column-gap: 24px;
    row-gap: 8px;



}

.footer--logo__img {
    width: 46px;
    height: 44px;
}

.footer--nav__container {

    flex-direction: column;
    width: 237.5px;
    height: 224px;


}

.footer--nav__segment {
    margin-top: 101px;
}

/* span */
.nav__links--title {
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 700;


}



a:hover {

text-decoration: underline;
    color: #652BDF;

}




/* Li */

.nav--item__list {
    margin: 8px 0px;
    font-size: 14px;
    list-style: none;
    color: #2B2B2B;
    line-height: 1.5rem;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
    color: #652BDF;

}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.header--mobile{
        background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 72px;
    display: none;
}
.header--mobile__menu{
    cursor: pointer;
    position: absolute;
    left: 24px;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
}


/* 1013px */



@media screen and (max-width: 1013px){
    :root {
        --img-height: auto; 
    }

    nav{
        display: none;
    }  
    
    .main--heading__titles{
        font-size: 30px;
        
    }
    .header--nav__list {
        display: flex;
        margin: 0;
        white-space: nowrap;
    }

    }
    





@media screen and (max-width: 990px){

    .section--benefit__card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        white-space: nowrap;
        gap: 0px;
        width: 100%;
    }

    .benefit--card__container{
        gap: 0px;
        padding: 0px;
        width: 100%;
    }
    .segment--benefit__card{
        padding: 0px
    }
    
    .promobanner__container{
        
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        width: 100%;
        gap: 0px;
        padding: 0px;
        
    }


    }

    

@media screen and (max-width: 768px){

    .benefit--card__container{
        display: flex;
        flex-direction: column;
        
        
        
    }
    



    }


@media screen and (max-width: 480px){

    }
    


@media screen and (max-width: 320px){
    }
